PROJECT_NAME=$(PROJECTID)

# The project can have multiple main class file.
MAIN_NAME=$(PROJECTID)

FLEX_HOME=$(FlexSDK)
FLEX_FRAMEWORKS=${FLEX_HOME}/frameworks

# SRC - mxml and as files
# BIN - output files
# LIB - swc files
SRC_DIR=${basedir}/src
BIN_DIR=${basedir}/bin
LIB_DIR=${basedir}/lib

# Your application ID (must match <id> of Application descriptor)
APP_ID=$(PACKAGEDOT)$(PROJECTID)
